# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\OneDrive - University of Texas at Arlington\College\2021 Spring\CSE 3320-003 OPERATING SYSTEMS\VM_SF_CSE3320\Heap-Assignment-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
